/*LESS*/
.inline {
    display:inline-block;
}
/*Custom-Bootstrap*/
@media (min-width: 768px) {
    .navbar-nav {
        float:right !important;
    }
    /*.nav > li {
        border-right: solid 2px #8ec952 !important;
    }
    #builder {
        border-left: solid 2px #8ec952;
    }
    .nav > li {
        border-right: solid 2px #8ec952 !important;
    }*/
}

.navbar-default {
    background-color: #528ec9 !important;
    border-color: #c9528e !important;
}
.navbar {
    border-width: 0 0 3px !important;
}
.nav > li:hover {
    background-color: #c9528e;
}
.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold !important;
}
.navbar-default .navbar-brand {
    color: white !important;
    font-family: 'Bree Serif', sans-serif !important;
    font-size: 25px !important;
}
.activebutton {
    background-color: #c9528e !important;
    color: #528ec9;
}
/*Divider*/
.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*Body*/
/*Header*/
.buildlogo {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.buildh1 {
    text-align: center;
    color: #C9528E;
    font-family: 'Bree Serif';
}
.buildheader {
    margin-top:40px;
    margin-bottom:40px;
}
@media (max-width: 400px) {
    .buildh1 {
        font-size:30px;
    }
}
/*Builder*/
.buildcontainer {
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width:600px;
}
.buildwrapper {
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border: solid 1px white;
    background-color:rgba(255,255,255,0.3);
}
.content {
    margin-top:25px;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:40px;a
}
.buildwrapper > .content > .contentheader > h1 {
    color:white;
    text-align: center;
    margin-bottom:40px;
}
.custom-label {
    width: 100px;
}
.nextbutton {
    float:right;
    color:white;
    background-color: #528EC9;
    border-left: solid 1px white;
    border-right:solid 1px white;
    border-bottom:solid 1px white;
    border-bottom-right-radius:7px;
}
.backbutton {
    float:left;
    color:white;
    background-color: #528EC9;
    border-left: solid 1px white;
    border-right:solid 1px white;
    border-bottom:solid 1px white;
    border-bottom-left-radius:7px;
}
.backbutton:hover {
    color: #C8518D;
    cursor: pointer;
}
.nextbutton:hover {
    color: #C8518D;
    cursor: pointer;
}
.arrowcontainer {
    font-size:40px;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    
}
.back2, .back3 {
    position: relative;
    left: -1px;
    top:1px;
}
.next2, .next3 {
    position: relative;
    right: -1px;
    top:1px;
}

/*Fonts*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
	content: "\e600";
}
.icon-arrow-left:before {
	content: "\e601";
}
